.create-classroom {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.create-classroom h2 {
  margin-bottom: 20px;
}

.create-classroom form {
  display: flex;
  flex-direction: column;
}

.create-classroom label {
  margin-bottom: 8px;
}

.create-classroom input,
.create-classroom textarea {
  padding: 10px;
  margin-bottom: 15px;
}

.create-classroom button {
  padding: 10px;
  background-color: #f1b4d8;
  color: #fff;
  border: none;
  cursor: pointer;
}
