.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f1b4d8;
  color: white;
}

@font-face { font-family: 'SourGummy'; src: url('src\styles\SourGummy-VariableFont_wdth,wght.ttf') format('truetype'); }

.header-title a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'SourGummy', sans-serif;
}

.header-nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}
