.join-course-container {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.join-course-container h2 {
  margin-bottom: 20px;
}

.join-course-container form {
  display: flex;
  flex-direction: column;
}

.join-course-container label {
  margin-bottom: 8px;
}

.join-course-container input {
  padding: 10px;
  margin-bottom: 15px;
}

.join-course-container button {
  padding: 10px;
  background-color: #f1b4d8;
  color: #fff;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
}

.success {
  color: green;
}
