/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #219ebc;
  color: white;
}

.header-title a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

.header-nav a:hover {
  text-decoration: underline;
}
